.sidebar {
    display: flex;
    width: 281px;
    height: 1194px;
    padding: 40px 32px 226px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 84px;
    flex-shrink: 0;
  }
  
  .sidebar-header {
    padding: 10px;
    text-align: center;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    align-items: center;
    align-content: center;
  }
  
  .sidebar-menu li {
    margin-bottom: 32px;
  }
  
  .sidebar-menu li a {
    width: 217px;
    height: 56px;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    background-color: #159895;
    border-radius: 12px;
  }
  .profile-form {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
    }
    
    .profile-form h2 {
      text-align: left;
      margin-bottom: 20px;
    }
    
    .profile-form .form-group label {
      font-weight: bold;
      color: #002B5B;
    }